<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details </h1>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <footer>
        <a href="/camp">All Camp Grounds</a>
        <br>
        <a href="/camp/<%=campground.id%>/edit"> edit</a>
    </footer>
    
</body>
</html>